<?xml version='1.0'?>
<manifest
    xmlns:a='http://schemas.android.com/apk/res/android'
    package='life.nosk.motator'
    a:versionCode='0'
    a:versionName='0'>

	<application a:label='@string/app_name' a:icon='@drawable/nolan'>
        <activity a:name='life.nosk.motator.MainActivity'>
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
    </application>
</manifest>
